/******************************************************************************
 * Navigation Bar 
 ******************************************************************************/
.navbar { 
	background: #e0e0e0;
	/* height corressponds to logo height*/
	max-height: 41px;
	min-height: 41px;
	/*  padding left/right value should be equals logo width */
	padding-left: 60px; 
	padding-right: 60px;
}
.navbar .container .logo  {
	background: url(http://d1vgw4v7ja2ido.cloudfront.net/-a1e54b2bcd1777c1.gif) no-repeat center top;
	height: 41px;
	width: 60px;
	left: -60px;
	text-indent: -10000px;
	display: inline-block;
	float: left;
	position: relative;
	margin-right: 0px;
}

/* Sum of margin-top, margin-btm and height should be equals to .navbar's max-height */
.navbar-toggle {
	margin-top: 2px; 
	height: 33px;
	margin-bottom: 6px;
	margin-right: -60px; /* this should be equals to .navbar padding-right value */
}

.compensate-nav {
	margin-top: 41px;
}

/******************************************************************************
 * Body Content 
 ******************************************************************************/
h1 { 
	font-size: 1.3em;
}
 

.tag-line { 
	font-weight: normal;
}

@media (min-width: 915px) {
  .side-column { 
    margin-left: -45px;
  }
}


@media (min-width: 769px) {
  /* hides info panel when viewing on mobile devices */
  .info-panel-lg { 
    display: block;
  }

  .info-panel { 
    display: none;
  }
}

@media (max-width: 768px) {
  /* hides info panel when viewing on mobile devices */
  .info-panel-lg { 
    display: none;
  }

  .info-panel { 
    display: block;
  }
}

.profile-bar { 
  margin: inherit;
  background: #eaeaea;
  height:  40px;
  width: inherit;
  /*padding: 5px;*/
  /*margin-left: -5px;*/
}

.profile-bar .coy-logo { 
  display: inline-block;
  float: left;
  height: 40px;
  width: 40px;
  overflow: hidden;


}

.profile-bar .coy-desc { 
  display: inline-block;
  float: left;
  margin-left: 10px;
}


.profile-bar .coy-year { 
  margin-right: 10px;
  font-weight:  bold;
}

.work-description {
  margin-top: 1em;
  text-align:justify;
  width: 100%; 
}


/******************************************************************************
 * Media Queries
 ******************************************************************************/
@media (min-width: 900px) {
  .container {
    max-width: 840px;
  }
  .row { 
	max-width: 840px;
  }

  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12 {
    float: left;
  }
  .col-lg-1 {
    width: 8.333333333333332%;
  }
  .col-lg-2 {
    width: 16.666666666666664%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33333333333333%;
  }
  .col-lg-5 {
    width: 41.66666666666667%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.333333333333336%;
  }
  .col-lg-8 {
    width: 66.66666666666666%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.33333333333334%;
  }
  .col-lg-11 {
    width: 91.66666666666666%;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-push-1 {
    left: 8.333333333333332%;
  }
  .col-lg-push-2 {
    left: 16.666666666666664%;
  }
  .col-lg-push-3 {
    left: 25%;
  }
  .col-lg-push-4 {
    left: 33.33333333333333%;
  }
  .col-lg-push-5 {
    left: 41.66666666666667%;
  }
  .col-lg-push-6 {
    left: 50%;
  }
  .col-lg-push-7 {
    left: 58.333333333333336%;
  }
  .col-lg-push-8 {
    left: 66.66666666666666%;
  }
  .col-lg-push-9 {
    left: 75%;
  }
  .col-lg-push-10 {
    left: 83.33333333333334%;
  }
  .col-lg-push-11 {
    left: 91.66666666666666%;
  }
  .col-lg-pull-1 {
    right: 8.333333333333332%;
  }
  .col-lg-pull-2 {
    right: 16.666666666666664%;
  }
  .col-lg-pull-3 {
    right: 25%;
  }
  .col-lg-pull-4 {
    right: 33.33333333333333%;
  }
  .col-lg-pull-5 {
    right: 41.66666666666667%;
  }
  .col-lg-pull-6 {
    right: 50%;
  }
  .col-lg-pull-7 {
    right: 58.333333333333336%;
  }
  .col-lg-pull-8 {
    right: 66.66666666666666%;
  }
  .col-lg-pull-9 {
    right: 75%;
  }
  .col-lg-pull-10 {
    right: 83.33333333333334%;
  }
  .col-lg-pull-11 {
    right: 91.66666666666666%;
  }
  .col-lg-offset-1 {
    margin-left: 8.333333333333332%;
  }
  .col-lg-offset-2 {
    margin-left: 16.666666666666664%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333333333333%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66666666666667%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-7 {
    margin-left: 58.333333333333336%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66666666666666%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333333333334%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66666666666666%;
  }
}

@media (max-width: 899px) {
	.container {
		max-width: 840px;
	}
	.row { 
		max-width: 840px;
	}
	.navbar .container .logo  {
		left: 0px;
		position: absolute;
	}
 
}